body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 20px auto;
  border-radius: 8px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
}

header {
  background-color: #0f6608;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.todo-form {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.task-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  margin-right: 10px;
}

.add-button {
  padding: 12px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #218838;
}

.task-list {
  padding: 20px;
}

.task-list h2 {
  margin-top: 0;
  color: #0f6608;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  gap: 1rem;
  display: flex;
  align-items: center;
  font-size: 18px;

  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

.task-list li:last-child {
  border-bottom: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Navbar */
.navbar {
  background-color: #0f6608;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links li:not(:last-child) {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: #0f6608;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
